.quiz-buttons {
    display: flex;
    flex-direction: row;
    background: rgb(235, 126, 144);
    justify-content: space-evenly;
    border-bottom: solid;
    height: 9vh;
    overflow: hidden;
}
.btn {
    background: transparent;
    border-radius: 13px;
    font-weight: bold;
}
.btn:hover {
    background-color: rgb(235, 149, 163);
    color: black;
}