.App {
  text-align: center;
  height: 100vh;
}
.Show-gifs {
  height: 25vh;
  overflow: hidden;
}
.App-header {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.buton {
  font-size: 35px;
  letter-spacing: 3px;
  background: transparent;
  border: none;
  cursor: crosshair;
  font-weight: bold;
  color: white;
}